.container {
  position: relative;
  z-index: 3;

  overflow-y: auto;

  padding-inline: 1rem;

  background-color: var(--background-color);
}

.detailList {
  padding-inline: 0.5rem 0;
  list-style: none;
}

.title {
  margin-top: 0.5rem;
  font-weight: bold;
}

.close {
  cursor: pointer;

  display: block;

  aspect-ratio: 1;
  height: 3rem;
  margin-top: 1rem;
}

.interceptor {
  cursor: pointer;

  position: fixed;
  z-index: 3;
  inset: 0;

  backdrop-filter: brightness(0.9) blur(0.05rem);
}
