.container {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.2rem;

  width: 100%;
  max-width: fit-content;
}

.button,
.select {
  user-select: none;
  aspect-ratio: 1;
}

.button:not(:disabled),
.select:not(:disabled) {
  cursor: pointer;
}
