.header {
  position: fixed;
  z-index: 5;
  inset-inline: 0;
  background-color: #fff;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem;
}
