.cardHeading {
  margin-block: 0;
  padding: 1rem;
  word-wrap: break-word;
}

.image {
  max-width: 100%;
  vertical-align: top;
  object-fit: contain;
}

.description {
  --shadow-value: 0 0 0.2rem;

  display: inline-block;
  margin-block: 0;
  padding: 1rem;
}

.new {
  filter: drop-shadow(var(--shadow-value) blue);
}

.onAir {
  filter: drop-shadow(var(--shadow-value) green);
}

.pause {
  filter: drop-shadow(var(--shadow-value) yellow);
}

.dead {
  filter: drop-shadow(var(--shadow-value) red);
}

.navLink {
  display: block;
  color: #000;
  text-decoration: none;
}

.navLink:hover {
  box-shadow: 0 0 0.2rem 0.1rem #00000080;
}

.active {
  pointer-events: none;
  box-shadow:
    inset 0 0 0.2rem 0.05rem #000,
    0 0 0.2rem 0.05rem #000;
}
