body {
  max-height: 100dvh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #000;
  border-radius: 1rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #fffa;
}

#root {
  display: flex;
  justify-content: space-between;
  max-height: inherit;
}

#root > * {
  flex: 1 1 50%;
}
