#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.error-info {
  white-space: pre-wrap;
}

.search {
  padding: 2em;
}
.input-search {
  font-size: 1.3em;
  margin-right: 1em;
}

.page-link {
  padding-right: 1em;
  list-style-type: none;
  display: inline-block;
}

.section-list {
  display: inline-block;
  vertical-align: top;
}
.section-info {
  margin-top: 2em;
  display: inline-block;
  vertical-align: top;
  width: 30em;
  text-align: left;
}

.button-close {
  float: right;
  display: inline-block
}
